@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");



.acc{
	background-color: rgb(112, 224, 224);
	margin-bottom: 10px;
	border-radius: 5px;
	border-color: rgb(226, 79, 79);
}


.flush{
	background-color: red;
	font-size: 50px;
	color: white;
	border-radius: 10px;
	border-color: black;
}

